<div class="m-2">
  {{#each posts as |post|}}
    <div class="border border-2 border-light my-2">
      <div class="post-title inline-flex p-2">
        <h2>
          <a class="post-link" href="/post/{{post.id}}">
            {{post.title}}
          </a>
        </h2>
        <p class="date-posted">Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
      </div>
      <p class="post-content">{{post.content}}</p>
    </div>
  {{/each}}
</div>